<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BookCycle - Unlock the World of Reading</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="../static/styles/landing_page.css"
</head>
<body>
	<nav class="navbar navbar-expand-lg nav-styles">
		<a class="navbar-brand" href="#">BookCycle</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0"> 
				<li class="nav-item">
					<a class="nav-link" href="#features">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#about">About</a>
				</li>
			</ul>
		</div>
	</nav>

	<section class="bsb-hero-1 px-3 bsb-overlay bsb-hover-pull" style="background-image: url('https://i.imgur.com/djhw1WJ.png');">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="hero col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
					<h2 class="display-3 fw-bold mb-3">BookCycle</h2>
					<p class="lead mb-5">Are you passionate about books? Looking to share your love for reading with like-minded individuals? BookCycle is your gateway to the world of literature, connecting book enthusiasts, and fostering a community of readers.
					</p>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<h2 class="pt-4">Features</h2>
		<div class="row justify-content-md-center pt-5" id="features">
		  <div class="col-md-4">
			<div class="card mb-4 box-shadow">
			  <img class="card-img-top" src="https://i.imgur.com/sskDAUQ.png" alt="Feature One">
			  <div class="card-body">
				<h2 class="title">Publish Your Books</h2>
				<p class="card-text">Easily share books from your personal collection with other users. Upload book details, images, and descriptions. When you publish a book, it becomes available for others to discover and request for exchange.
				</p>
			  </div>
			</div>
		  </div>
		  <div class="col-md-4">
			<div class="card mb-4 box-shadow">
			  <img class="card-img-top" src="https://i.imgur.com/quXuKSI.png" alt="Feature Two">
			  <div class="card-body">
				<h2 class="title">Explore Published Books</h2>
				<p class="card-text">Dive into a diverse world of books published by fellow users. Discover books from various genres and contact with their owners, and contact to exchanges for books you're interested in.
				</p>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="about pt-4" id="about">
			<h2 class="about">About BookCycle</h2>
			<p class="container mt-4">The idea came about during a casual book exchange between friends. I realized that sharing books not only deepens our appreciation for literature but also brings people together. Inspired by this experience, I embarked on a journey to create a platform that would enable people to share, discover, and exchange books effortlessly.</p>
			<a href="https://github.com/abubakrali10"><h3>Abubakr Ali - Github</h3></a>
		</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>